<form>
    <h4>{{formTitle}}</h4>
    <div>
        <label for="email">Email/Username</label>
        <input type="email" name="email" id="email" placeholder="Enter your email...">
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password...">
    </div>
    
    <button type="button" (click)="onLoginClick()">Login</button>

</form>

