<router-outlet></router-outlet>


<app-login-form 
    [formTitle]="'Login to Survey Poodle'"
    (loginAttempt)="onLoginAttempt($event)"
    
></app-login-form>

<app-register-form
    (registerAttempt)="onRegisterAttempt($event)"

></app-register-form>