<p>register-form works!</p>

<form>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter a username..">
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter a password.."> <br>
    </div>

    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password..">

    </div>

    <button type="button" (click)="onRegisterClick()">Register</button>

    

</form>

